{{ 'features.css' | asset_url | stylesheet_tag }}

<div class="features__section-wrapper">
  <div class="features__cards-wrapper">
    <div class="single__card-wrapper">
      <div class="features__icon-wrapper">
        <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/002/894/original/badge.png" defer>
      </div>
      <div class="features__description-wrapper">
            <h3>{{ section.settings.features-header }}</h3>
        <p>{{ section.settings.features-description }}</p>
      </div>
    </div>
    <div class="single__card-wrapper">
      <div class="features__icon-wrapper">
        <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/002/894/original/badge.png" defer>
      </div>
      <div class="features__description-wrapper">
            <h3>{{ section.settings.features-header }}</h3>
        <p>{{ section.settings.features-description }}</p>
      </div>
    </div>
    <div class="single__card-wrapper">
      <div class="features__icon-wrapper">
        <img src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/002/894/original/badge.png" defer>
      </div>
      <div class="features__description-wrapper">
            <h3>{{ section.settings.features-header }}</h3>
        <p>{{ section.settings.features-description }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Features",
    "settings": [
         {
        "type": "text",
        "id": "features-header",
        "label": "Header",
        "default": "100% Qualität"
      }, {
        "type": "text",
        "id": "features-description",
        "label": "Description",
        "default": "Dank weichem Silikon"
      }
    ],
    "presets": [
      {
        "name": "Features"
      }
    ]
  }
{% endschema %}